/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fonte e cores */
  body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  /* Navbar */
  .navbar {
    background: #175751;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .logo img {
    height: 110px;
  }
  
  .menu {
    display: flex;
    gap: 2rem;
  }
  
  .menu a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px;
    color: #E8D0A9;
  }
  
  .menu a:hover {
    color: #e4ac51;
  }
  
  .btn-whatsapp {
    background: #E8D0A9;
    color: #175751;
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .btn-whatsapp:hover {
    background: #ffffff;
  }
  
 /* Introdução */
 .intro {
    background: #fff;
    padding: 0; /* Remove padding */
    margin: 0;
    height: 85vh; /* A intro inteira ocupa 100% da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
  
  .intro-text {
    flex: 1;
    padding: 60px;
    background: #fff; /* fundo branco no texto */
    position: column;
    z-index: 2;
  }
  
  .intro-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: "Darker Grotesque", sans-serif;
    color: #00796B;
  }

  .intro-text b  {
    color: #E8D0A9;
    font-size: 55px;
  }

  .intro-text span {
    color: #E8D0A9;
    font-size: 55px;
  }
  
  .intro-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
  }
  
  .intro-text .btn {
    display: inline-block;
    background: #009688;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    margin-top: 1rem;
    text-align: center;
    width: fit-content; /* Impede o esticamento */
  }
  
  .intro-text .btn:hover {
    background: #00796B;
  }
  
  /* Imagens com sombra */
  .intro-images {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
  }

  .intro-images::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150px; /* Largura do fade */
    height: 100%;
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
    pointer-events: none;
  }

  .intro-images img {
    width: 50%;
    height: 50%;
    object-fit: cover; /* Faz a imagem cobrir */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .intro-images img.active {
  opacity: 1;
}
  
  .intro-images .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
  }
  
  .intro-images .slide.active {
    opacity: 1;
  }
  
  /* Sombra branca vindo da esquerda */
  .intro-images .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), transparent);
    z-index: 1;
  }
  
  /* Seção Procedimentos */
  .procedures {
    padding: 2rem 1rem;
    text-align: center;
    background: #f9f9f9;
    position: relative;
  }
  
  .inline-arrow {
    width: 40px; /* ou o tamanho que você quiser */
    vertical-align: middle;
    margin-left: 8px; /* espaço entre o texto e a seta */
  }  

  .procedures h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #E8D0A9;
  }

  .procedures b {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    color: #00796B;
  }
  
  .procedures-container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* aumentei um pouco para dar mais espaço */
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28rem 1rem; /* adicionar espaço nas laterais */
  }
  
  .central-image {
    position: relative;
    width: 350px; /* diminui um pouco a imagem */
    height: 350px;
    margin: 0 3rem; /* adicionei margem entre a imagem e as listas */
    z-index: 1;
  }
  
  .central-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .procedure-points {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 25%; /* reduzi para deixar a lista mais compacta */
  }
  
  .procedure-points li {
    width: 100%;
    text-align: center;
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px; /* aumentei o espaçamento vertical */
  }
  
  .procedure-points li h4 {
    font-size: 1rem;
    color: #009688;
    margin-bottom: 0.4rem;
  }
  
  .procedure-points li p {
    font-size: 0.8rem;
    color: #555;
    margin: 0;
  }
  
  /* Marcadores da Esquerda */
  .procedure-points.left {
    left: 0;
    position: relative;
  }
  
  .procedure-points.left li {
    margin-bottom: 20px;
  }
  
  /* Marcadores da Direita */
  .procedure-points.right {
    right: 0;
    position: relative;
  }
  
  .procedure-points.right li {
    margin-bottom: 20px;
  }

  .procedure-title {
    display: flex;
    align-items: center;
    justify-content: center; /* ou 'flex-start' se quiser a imagem depois do texto e coladinha */
    gap: 0.5rem; /* espaçamento entre o texto e a imagem */
  }
  
  .procedure-points.left img {
    width: 40px; /* Ajuste o tamanho da imagem */
    height: auto;
  }

  .procedure-points.right img {
    width: 40px; /* Ajuste o tamanho da imagem */
    height: auto;
  }

  .procedure-points.left h4 {
    left: 10px;
    position: relative;
  }

  .procedures-container {
    font-family: "Montserrat", sans-serif;
  }
    
  /* Serviços */
  .services {
    padding: 3rem 1rem;
    background-color: #fff;
    text-align: center;
  }

  .services h2 {
    color: #E8D0A9;
    padding: 1rem 1rem;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
  }

  .services b {
    color: #00796B;
  }
  
  .service-cards {
    display: flex;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
    padding: 2rem;
  }
  
  .card {
    background: white;
    border-radius: 16px;
    padding: 2rem 1.5rem;
    width: 280px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    background-color: #00796B;
  }

  .card h3 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 30px;
    color: #fff;
  }

  .card li {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 14px;
    padding: 2px;
  }

  .card-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .card-image img:first-child {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20%;
    object-position: 50% 30%;
    display: block;
  }
  
  /* Seção Sobre Nós */
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
  background-color: #f9f9f9;
  text-align: left;
}

.about-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.about-left {
  flex: 1;
  padding-right: 2rem;
}

.about-left h2 {
  font-size: 2.5rem;
  color:#E8D0A9;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}

.about-left .porque {
  font-size: 1.8rem;
  font-weight: bold;
  color: #E8D0A9;            /* Cor mais sofisticada */
  margin-bottom: 1.5rem;
  text-transform: uppercase; /* Deixa o texto em CAIXA ALTA */
  letter-spacing: 1px;       /* Espaçamento entre letras */
}

.about-left p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.about-highlights {
  list-style: none;
  padding: 0;
}

.about-highlights li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  padding: 10px;
  color: #333;
}

.about-highlights li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Carrossel à Direita */
.about-right {
  flex: 1;
  padding-left: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container do Carrossel com largura de celular */
.carousel-container {
  width: 100%;
  max-width: 320px; /* Limita a largura do carrossel */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
}

/* Slides */
.carousel-slide {
  display: none;
  width: 100%;
  height: auto;
  text-align: center;
}

.carousel-slide.active {
  display: block;
}

/* Imagens e vídeos no formato celular */
.carousel-slide img,
.carousel-slide video {
  width: 100%;
  max-width: 300px;
  height: auto;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Botões do Carrossel */
button.carousel-prev,
button.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 3;
  padding: 0;
}

/* Setas visíveis fora do carrossel, mas dentro da tela */
button.carousel-prev {
  left: 100px;
}

button.carousel-next {
  right: 80px;
}

/* Estilo do ícone SVG */
button svg {
  width: 36px;
  height: 36px;
  fill: #00796B;
  transition: transform 0.2s;
}

button:hover svg {
  transform: scale(1.1);
}

  /* FAQ */
  .faq {
    max-width: 1500px;
    margin: 4rem auto;
    padding: 1rem;
    background: #fff;
  }
  
  .faq h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #E8D0A9;
  }

  .faq b {
    color: #00796B;
  }
  
  .faq-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    color: #E8D0A9;
  }
  
  .faq-question {
    cursor: pointer;
    font-weight:bolder;
    padding: 0.3rem ;
    display: flex;
    gap: 0.5rem;
    transition: background 0.3s;
    font-family: "Montserrat", sans-serif;
    color: #00796B;
    margin-left: 20px;
  }
  
  .faq-question:hover {
    background-color: #e5bd7c;
  }
  
  .faq-toggle {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 1rem;
  }
  
  .faq-answer {
    display: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #00796B;
    font-family: "Montserrat", sans-serif;
    margin-left: 20px;
  }    
  
  /* Contato */
  .contact-section {
    background-color: #fff;
    padding: 4rem 12vw;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    flex-wrap: wrap;
    margin-left: -60px;
  }
  
  
  .contact-left,
  .contact-right {
    flex: 1;
    min-width: 300px;
  }
  
  .contact-left h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #00796B;
    font-family: "Montserrat", sans-serif;
  }

  .contact-left span {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #E8D0A9;
    font-family: "Montserrat", sans-serif;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  form button {
    background-color: #C59D5F;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #b48849;
  }
  
  .contact-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 500px; /* Tamanho anterior */
    box-shadow: 0 0 20px 4px #E8D0A9; /* Sombra forte nos 4 lados */
  }
  
  .contact-info {
    padding: 0;
    margin: 0;
  }
  
  .contact-info li {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .contact-info a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-family: "Montserrat", sans-serif;
  }
  
  .contact-info a:hover {
    background-color: #f7f1e6;
  }
  
  .contact-info img {
    width: 32px;
    height: 32px;
  }
  
  .contact-info strong {
    font-size: 16px;
  }
  
  .contact-info p {
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }  
  
  /* Rodapé */
  .footer {
    background: #175751;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    font-size: 0.9rem;
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    margin-right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  
  .menu-toggle span {
    height: 3px;
    width: 100%;
    background: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  /* Animação para virar X */
  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      background: #fff;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      padding: 20px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      z-index: 1000;
    }
  
    .menu.show {
      display: flex;
    }
  
    .menu-toggle {
      display: flex;
    }
  
    .btn-whatsapp {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .intro-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 20px;
    }
  
    .intro-text h1 {
      font-size: 2rem;
    }
  
    .intro-text p {
      font-size: 1rem;
      margin: 16px 0;
    }
  
    .intro-text .btn {
      padding: 10px 20px;
      font-size: 1rem;
    }
  
    .intro-images {
      width: 85%;
      height: 10%;
      height: 600px; /* Aumentado de 300px para 450px */
      position: relative;
      overflow: hidden;
      border-radius: 10px;
    }
  
    .intro-images img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Já garante que a imagem preencha o espaço */
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  
    .intro-images img.active {
      opacity: 1;
    }
  
    .image-overlay {
      border-radius: 10px;
    }
  }

  /* Para garantir que a seção Procedures tenha o espaçamento correto */
@media (max-width: 768px) {
  .procedures {
    padding: 20px;
    margin-top: 10px;
  }

  .procedures h2 {
    margin-bottom: 10px; /* Diminui o espaço entre o h2 e o primeiro card */
  }

  .procedures-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px; /* Adiciona um pouco de padding na seção para evitar o contato com outras áreas */
  }

  .procedure-points {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .procedure-points li {
    margin-bottom: 15px;
    text-align: center;
  }

  .procedure-points h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .procedure-points p {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .procedures .central-image img {
    width: 100%;     /* Preenche a largura disponível */
    max-width: 300px; /* Limita a largura máxima */
    height: 350px;    /* Mantém a proporção */
    display: block;
    margin: -80px auto; /* Centraliza com espaçamento */
    margin-bottom: 50px;
    margin-top: auto;
  }

  .procedures .central-image {
    text-align: center; /* Garante centralização */
    margin: 20px 0;
  }
}


@media (max-width: 768px){
  /* Ajuste para os cards da seção Services */

  .card {
    width: 100%;
    max-width: 350px; /* Largura dos cards ajustada */
    text-align: center;
    margin: 0 auto; /* Garantindo que os cards fiquem centralizados */
  }

  .card-image img {
    width: 100%;
    height: auto;
  }

  .card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .card ul {
    list-style: none;
    padding-left: 0;
  }

  .card ul li {
    font-size: 1rem;
    margin: 5px 0;
  }
}

@media (max-width: 768px) {
  .procedures {
    margin-bottom: 1400px; /* Espaço depois da seção procedures */
  }

  .services {
    margin-top: 40px; /* Espaço antes da seção services */
    padding: 0 20px;
  }

  .service-cards {
    flex-direction: column;
    gap: 30px;
  }

  .service-cards .card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }

  .about-left {
    width: 100%;
    text-align: center;
  }

  .about-left h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .about-left p,
  .about-left .porque {
    font-size: 16px;
  }

  .about-highlights {
    padding: 0;
    list-style: none;
  }

  .about-highlights li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
  }

  .about-highlights img {
    width: 24px;
    height: 24px;
  }

  .about-right {
    width: 100%;
  }

  .carousel-container {
    position: relative;
    width: calc(100% + 80px); /* largura extra para abrigar setas */
    margin-left: -40px; /* centraliza a imagem e as setas */
    overflow: visible; /* permite que as setas apareçam fora */
  }

  .carousel-slide video,
  .carousel-slide img {
    width: 100%;
    border-radius: 10px;
  }

  .carousel-slide video,
  .carousel-slide img {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
  }

  button.carousel-prev {
    left: -50px;
  }

  button.carousel-next {
    right: -50px;
  }
}


  
  
  